body{
    text-align: center;
    background-image: url("/images/app-bg.png") !important;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100vh;
}

/* --- Container Styling --- */
.container{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding: 20px 0 20px 0;
    border-radius: 25px;
    margin: 20px 50px 20px 50px;
    
}

/* --- Form Styling --- */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
  }
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
.form-signin .form-control:focus {
    z-index: 2;
  }
.form-signin input[type="userCity"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
.form-signin input[type="userCountryCode"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/* Text Styling */
#app-title{
    color: aliceblue;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    text-shadow: 1px 2px #36454F;
  }

#app-copy{
    color: aliceblue;
    font-family: "Afacad Flux", sans-serif ;
    font-size: 18px;
    text-shadow: 1px 2px #36454F;
}

/* --- Button Styling ---*/
.btn{
    background-color: #1e81b0 ;
    border: none;
    font-family: "Rubik", sans-serif;
    padding: 10px 15px 10px 15px;
}
.btn:hover{
    background-color: #154c79 ;
}

#seven-day-btn{
    margin-top: 8px;
}

/* ----- Results Page Styling ----- */
/* --- Icon Styling -- */
.weather-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* --- Text Styling --- */
.current-temp{
  color: aliceblue;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-shadow: 1px 2px #36454F;
}

.temp-description, .temp{
  color: aliceblue;
  font-family: "Afacad Flux", sans-serif ;
  font-size: 18px;
  text-shadow: 1px 2px #36454F;
}

.city{
  color: aliceblue;
  font-family: "Afacad Flux", sans-serif ;
  font-size: 25px;
  text-shadow: 1px 2px #36454F;
}

/* ----- Error Page Styling ----- */
/* --- Jumbotron Styling --- */
.jumbotron{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .3rem;
}

.jt-container{
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

/* --- Text Styling --- */
.display-3{
  color: aliceblue;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-shadow: 1px 2px #36454F;
}

.error-copy{
  color: aliceblue;
  font-family: "Afacad Flux", sans-serif ;
  text-shadow: 1px 2px #36454F;
}